.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: slateblue;

  &:hover {
    background-color: transparent !important;
    color: slateblue;
  }
}

.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: slateblue;

  &:hover {
    background-color: transparent !important;
    color: slateblue;
  }
}
