.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: slateblue;

  &:hover {
    background-color: transparent !important;
    color: slateblue;
  }
}

.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: red;

  &:hover {
    background-color: transparent !important;
    color: red;
  }
}

// scss modal
.modal-user-container {
  label {
    margin-bottom: 5px;
  }
}
