.slick-prev {
  left: -12px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background: #e6e5e5 !important;
  }
}
.slick-prev::before,
.slick-next::before {
  font-family: FontAwesome !important;
  color: red !important;
}
.slick-next {
  z-index: 1000 !important;
  right: -8px !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  border: 2px solid #d7d7d7 !important;

  &:hover {
    background: #e6e5e5 !important;
  }
}

.section-share {
  height: 300px;

  .section-container {
    margin: 0 195px;
    display: flex;
    flex-direction: column;

    .section-header {
      height: 80px;
      padding-top: 20px;
      padding-bottom: 20px;

      .title-section {
        font-size: 22px;
        font-weight: 600;
      }

      .btn-section {
        margin-right: 6px;
        float: right;
        background-color: #ebebeb;
        border: none;
        text-transform: uppercase;
        padding: 5px 10px;

        &:hover {
          cursor: pointer;
          background-color: #ffc419;
          color: #fff;
        }
      }
    }
  }
}

.section-share {
  &.section-specialty {
    background: #f5f5f5;
  }
  &.section-MedicalFacility {
    background: #fff;
  }
  &.section-specialty {
    background: #f5f5f5;
  }

  .section-body {
    .section-customize {
      .bg-image {
        width: 278px;
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #eee;

        &.section-specialty {
          background: url("../../assets/Speccialty/co-xuong-khop.jpg");
        }

        &.section-MedicalFacility {
          background: url("../../assets/MedicalFacility/benh-vien-thu-cuc.jpg");
        }
      }
    }
  }
}
