.slick-prev {
  left: -10px !important;
  z-index: 1000 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background: #e6e5e5 !important;
  }
}
.slick-prev::before,
.slick-next::before {
  font-family: FontAwesome !important;
  color: red !important;
}
.slick-next {
  z-index: 1000 !important;
  right: -8px !important;
  height: 48px !important;
  width: 44px !important;
  background-color: #fff !important;
  border: 2px solid #d7d7d7 !important;

  &:hover {
    background: #e6e5e5 !important;
  }
}
